<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Threaded Chat - CodePen</title>
    <link rel="stylesheet" th:href="@{/css/style_dialogs.css}" href="../../webapp/css/style_dialogs.css" media="screen"
          type="text/css"/>
</head>
<body>
<div id="wrapper">
    <div class="message-container">
        <div class="header">
            <div class="logo">
                <img src="images/logo.jpeg"/>
            </div>
            <button>Log out</button>
            <button>Find user</button>
        </div>
        <div class="message-north">
            <ul class="message-user-list">
                <li th:each="friend: ${friends}">
                    <a href="#">
                         <span class="user-img">
                            <img class="user-img" src="images/monkey.jpg"/>
                         </span>
                        <span class="user-title" th:text="${friend.getName()}">Bryan Adams</span>
                        <!--<p class="user-desc">badams@music.com</p>-->
                    </a>
                </li>
            </ul>
            <div class="message-thread">
                <div th:each="msg : ${messageList}">
                    <div th:class="${msg.getSrcUserID()} == ${currentUser.getId()}? 'message bubble-left' : 'message bubble-right'">
                        <label class="message-user"
                               th:text="${msg.getSrcUserID()} == ${currentUser.getId()}? ${currentUser.getName()} : ${otherUser.getName()}">Sender
                            name</label>
                        <!--<label class="message-timestamp">2 Hours Ago</label>-->
                        <p th:text="${msg.getContent()}">Text og the message</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="message-south">
            <textarea cols="20" rows="3"></textarea>
            <button>Send</button>
        </div>
    </div>
</div>
<script src="js/index.js"></script>
</body>
</html>
