<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Threaded Chat - CodePen</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../../webapp/css/style.css" media="all" type="text/css"/>
    <script th:src="@{/js/jquery.min.js}" src="../../webapp/js/jquery.min.js"></script>
    <script th:src="@{/js/sockjs-0.3.4.js}" src="../../webapp/js/sockjs-0.3.4.js"></script>
    <script th:src="@{/js/stomp.js}" src="../../webapp/js/stomp.js"></script>
</head>
<body>
<!--<img src="images/logo.jpeg" />-->

<div id="wrapper">
    <div class="main-shape">
        <div class="header">
            <div class="logo">
                <img src="/images/logo.jpeg"/>
            </div>
        </div>
        <div class="north">
            <div class="main-left">
                <div th:if="${param.error}">
                    Invalid username and password.
                </div>

                <div th:if="${param.logout}">
                    You have been logged out.
                </div>

                <form th:action="@{/registration}" method="post">
                    <p><strong>Login:</strong><br/>
                        <input type="text" name="username" size="20"/>
                    </p>
                    <p><strong>Password:</strong><br/>
                        <input type="password" name="password" size="20"/>
                    </p>
                    <p>
                        <input type="submit" value="Sign In"/>
                    </p>
                </form>
            </div>
            <div id="regField" class="main-right">
                <div class="header">
                    <p id="w" align="center"><strong>Welcome!</strong></p>
                    <p id="c" align="center">Connect with colleagues and the world around you.</p>
                </div>
                <div class="sign-up">
                    <form action="#" th:action="@{/registration}" th:object="${newUser}" method="post">
                        <p><input id="login" placeholder="login" type="text" th:field="*{username}"/></p>
                        <p><input id="password" placeholder="password" type="text" th:field="*{password}"/></p>
                        <p><input id="name" placeholder="name" type="text" th:field="*{name}"/></p>

                        <p id="sexField">Sex:
                            <select id="sex" th:field="*{sex}">
                                <option value="male">male</option>
                                <option value="female">female</option>
                            </select>
                        </p>

                        <p><input id="about" placeholder="about" type="text" th:field="*{details}"/></p>

                        <!--<p>Position: <input type="text" th:field="*{position}" /></p>-->


                        <p id="organisation">Organisation:
                            <select id="selectOrganisation" th:field="*{organisation}">
                                <option th:each="org : ${organisations}"
                                        th:value="${org.getName()}"
                                        th:text="${org.getName()}">dep
                                </option>
                            </select>
                        </p>
                        <p id="department" hidden="True">Department:
                            <select id="selectDepartment">
                            </select>
                        </p>
                        <!--<input type="text" th:field="*{organisation}" th:value="${organisation}" hidden="true"/>-->
                        <p id="position" hidden="True">Position:
                            <select id="selectPosition">
                            </select>
                        </p>
                        <!--<p>Position: <input type="text" th:field="*{position}" /></p>-->
                        <!--<p><input id="submit" type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>-->
                        <!--<button id="submit"> Submit </button>-->
                        <input type="button" id="falseSubmit" value="Submit"/>
                        <input hidden="True" type="button" id="trueSubmit" value="Submit"/>
                        <input type="button" id="reset" value="Reset"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/registration.js}" src="../../webapp/js/registration.js"></script>
</body>
</html>
